* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, white);
}

/* ============== using other fonts here */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&family=Roboto:wght@100;300;400&display=swap');
.main-content-container {
    display: flex;
    flex-flow: row wrap;
}

.side-navigation-area {
    overflow-y: auto;
    height: 100vh;
    width: 18%;
    position: fixed;
}

.content-area {
    width: calc(100% - 18%);
    flex: 1;
    padding-left: 18%; /* Add left padding to accommodate the fixed sidebar */
}

@media only screen and (max-width: 768px) {
    .side-navigation-area {
        width: 100%;
        position: static;
        height: auto;
    }
    .content-area {
        width: 100%;
        padding-left: 0;
    }
}

/* ================ css for the sidebar navigation links */
.side-navigation-panel {
    margin-left: 30px;
    margin-top: 30px;
}
.side-navigation-panel .navigation-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.side-navigation-area .navigation-item a{
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    padding-top: 20px;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.side-navigation-area .navigation-item i {
    padding-top: 20px;
    font-size: 20px;
    color: #1b5e20;
}

/* ======== the hover effect for the links ======= */
.side-navigation-area .navigation-item a:hover{
    color: #1b5e20;
}

/* ============= css for the staff details here ========= */
.content-area .staff-details-form {
    background: linear-gradient(to right, #F9EAFF, #f5f5f5);
    border-radius: 5px;
    height: 500px;
    margin-top: 20px;
}

.control-buttons {
    margin-top: 20px;
}

/* ================ css for the client intake form ========= */
.content-area .patient-details-form {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: 2020px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.content-area .patient-details-form h1 {
    font-size: 18px;
    font-weight: 200;
}

.content-area .patient-details-form .form-title h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

.content-area .patient-details-form .occupational-history h3{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

.content-area .checking-working-status h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

.content-area .checking-history-status h3 {
    padding-left: 20px;
    padding-bottom: 5px;
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: bolder;
}

.content-area .checking-history-status p {
    padding-left: 10px;
    font-weight: bold;
}

.content-area .checking-method-payment h3 {
    padding-left: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
    padding-top: 20px;
}

.content-area .for-office-use h3 {
    padding-left: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
    padding-top: 20px;
}

.content-area .save-details-area {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* =============== for the mobile area here ============== */
@media only screen and (max-width: 768px) {
    .content-area .patient-details-form {
        background: linear-gradient(to right, #DBF9D8, #DBF2FF);
        border-radius: 8px;
        height: 2290px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

/* =========== the css for the error message here */
.patient-details-form .error-message {
    color: red;
    padding-left: 10px;
    font-weight: bolder;
}

.content-area .patient-details-form .form-title {
    display: flex;
    justify-content: space-between;
}
.content-area .patient-details-form .form-title .success-message{
    margin-top: 20px;
    margin-right: 20px;
}

/* ================== css for the records page will be here ============ */
.content-area .all-records .patient-records-card {
    height: 500px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #212121;
    margin-left: 3px;
    width: 350px;
    margin-left: 5px;
}

.content-area .all-records .session-racords-card {
    height: 500px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #212121;
    width: 350px;
}

.content-area .all-records .payment-records-card {
    height: 500px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #212121;
    width: 350px;
    margin-right: 5px;
}

/* ============ css for the client information page here */
.client-information-page {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: 2020px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area .client-therapy-session {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area .client-therapy-session .error-message {
    color: red;
    padding-left: 10px;
    font-weight: bolder;
}


/* ================== general health questions will be here ================ */
.content-area .general-health-question-panel {
    height: auto;
    margin-top: 30px;
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
}
.content-area .general-health-question-panel .page-title h1 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #33691e;
    font-weight: bolder;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.content-area .general-health-question-panel .error-message {
    color: red;
    font-weight: bolder;
}

.content-area .general-health-question-panel .success-message {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize;
}


/* ================= CSS FOR administer-phq-9-page =========== */
.content-area .administer-phq-9-page {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area .administer-phq-9-page .administer-title h1 {
    text-align: center;
    font-weight: bolder;
    color: #1b5e20;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 30px;
}

.content-area .administer-phq-9-page .error-message {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

.content-area .administer-phq-9-page .success-message {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize
}

/* ================== css for the administrator administer GAD 7 */
.content-area .administer_GAD_7-page {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area .administer_GAD_7-page .administer-header-title h1 {
    text-align: center;
    font-weight: bolder;
    color: #1b5e20;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 30px;
}

/* ===================== cage questions sections here ============== */
.content-area .administer_GAD_7-page .cage-questions-section h1 {
    text-align: center;
    font-weight: bolder;
    color: #1b5e20;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 30px;
}

.content-area .administer-gad-7-form .error-message {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

.content-area .administer_GAD_7-page .success-message {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize
}

/* ==================== the css for the family health section will be here =========== */
.content-area .familly-mental-health-section-page {
    background: linear-gradient(to right, #DBF9D8, #DBF2FF);
    border-radius: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area .familly-mental-health-section-page .family-mental-health-title h1 {
    text-align: center;
    font-weight: bolder;
    color: #1b5e20;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 30px;
}

.content-area .familly-mental-health-section-page .success-message {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize
}

.content-area .familly-mental-health-section-page .family-mentalhealth-table {
    margin-top: 30px;
}
.content-area .familly-mental-health-section-page .family-health-table .family-table-title-1 h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #1b5e20;
    text-transform: capitalize;
}

.content-area .familly-mental-health-section-page .family-health-table .family-table-title-2 h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #1b5e20;
    text-transform: capitalize;
    padding-left: 30px;
}

.content-area .familly-mental-health-section-page .family-health-table .family-table-title-3 h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #1b5e20;
    text-transform: capitalize;
}

.content-area .familly-mental-health-section-page .family-health-table {
    margin-top: 30px;
}

/* ================== the erros will be shown here for the system ======== */
.content-area .familly-mental-health-section-page .error-message {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

/* ================= CSS FOR THE MAIN DASHBOARD HERE ============== */
.content-area .main-dashboard-panel {
    background: linear-gradient(to right, #f5f5f5, #f5f5f5);
    border-radius: 8px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content-area .top-page-title {
    display: flex;
    gap: 3;
    align-items: center;
}

.content-area .top-page-title .dashboard-icon {
    padding-top: 20px;
    padding-left: 35px;
    font-size: 28px;
}

.content-area .top-page-title .dashboard-item h1 {
    padding-top: 22px;
    font-size: 28px;
    padding-left: 3px;
    color: #212121;
    text-transform: capitalize;
}

/* =========================== // =============================== // */
.content-area .main-dashboard-items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.content-area .main-dashboard-items .patient-count-page-1 {
    width: 320px;
    background-color: #00A771;
    margin: 10px;
    border-radius: 8px;
    height: 200px;
}

.content-area .main-dashboard-items .patient-count-page-2 {
    width: 320px;
    background-color: #51914F;
    margin: 10px;
    border-radius: 8px;
    height: 200px;
}

.content-area .main-dashboard-items .patient-count-page-3 {
    width: 320px;
    background-color: #679D4E;
    margin: 10px;
    border-radius: 8px;
    height: 200px;
}

/* =============== media query for the mobile version here ========== */
@media only screen and (max-width: 768px) {
    .content-area .main-dashboard-items .patient-count-page-1 {
        width: 100%;
        background-color: #00A771;
        margin: 10px;
        border-radius: 8px;
        height: 200px;
    }
    
    .content-area .main-dashboard-items .patient-count-page-2 {
        width: 100%;
        background-color: #51914F;
        margin: 10px;
        border-radius: 8px;
        height: 200px;
    }
    
    .content-area .main-dashboard-items .patient-count-page-3 {
        width: 100%;
        background-color: #679D4E;
        margin: 10px;
        border-radius: 8px;
        height: 200px;
    }
}

/* ================== the css for the cards content here =================== */
.content-area .main-dashboard-items .patient-count-page-1 .total-clients-header {
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    color: white;
}

.content-area .main-dashboard-items .patient-count-page-1 .total-clients-title p {
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.content-area .main-dashboard-items .patient-count-page-1 .total-clients-count p {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

